DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=csw_db
DB_SYNCHRONIZE=true
DATABASE_URL=postgresql://neondb_owner:npg_AozHDwCh78lr@ep-muddy-block-axll9h92-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=your_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
CDN_URL=
